<div class="static-page">
	<%= render "header" %>
	<div class="container">
		<div>
			<div>
				<p class="big-copy"/>Hey cyclist!<br/>Want to help measure the quality of your roads?
				<ol class="list">
					<li>Download Pavement
						<div>
						<a href="https://itunes.apple.com/us/app/pavement/id1036024430?mt=8"><img class="download-image" alt='Download on the App Store' src="<%= image_path('appstore.svg') %>"/></a>
						
						<a href='https://play.google.com/store/apps/details?id=com.pnpc.pavement&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="download-image" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
						</div>
					</li>
					<li><a href="/use">Get a bike mount</a></li>
					<li>Ride</li>
				</ol>
			</div>
		</div>
		<div class="copy">
			<p>Project Pavement is an attempt to map pavement quality in cities using a bicycle and a smartphone accelerometer. The data is collected by members of the community and the software is 100% open source.</p>

			<p>The safety and comfort of cyclists is highly sensitive to pavement quality. Roads in bad condition can cause flat tires and other damage to bikes. Cyclists may swerve into the line of traffic and put themselves at risk when trying to avoid potholes and fissures.</p>

			<p>The objective of Project Pavement is to give city-dwelling cyclists the data they need to plan safe and enjoyable routes as well as to make transparent to urban planners the condition and popularity of streets as bike routes.</p>

			<p>Check out the map and start contributing today!</p>
		</div>
		<div class="row">
			<span class="col-xs-5 text-center">
				<div class="pull-right">
					<figure>
						<a href="http://chihacknight.org/"><img src="<%= image_path('chn-logo-greyscale.png') %>" height="200" width="200" onmouseover="this.src='<%= image_path('chn-logo.png') %>'" onmouseout="this.src='<%= image_path('chn-logo-greyscale.png') %>'"/></a>
						<figcaption>built at Chi Hack Night</figcaption>
					</figure>
				</div>
			</span>
			<span class="col-xs-5 col-xs-offset-2 text-center">
				<div class="pull-left">
					<figure>
						<a href="http://www.smartchicagocollaborative.org/"><img src="<%= image_path('scc-logo-greyscale.png') %>" height="200" width="200" onmouseover="this.src='<%= image_path('scc-logo.jpg') %>'" onmouseout="this.src='<%= image_path('scc-logo-greyscale.png') %>'"/></a>
						<figcaption>funded with grace by Smart Chicago Collaborative</figcaption>
					</figure>
				</div>
			</span>
		</div>
		<div class="row">
			<span class="requiredlegaltext">Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.</span>
		</div>
	</div>
</div>